<h1>About Glitter</h1>
	<p>Glitter is an LGBTQAI nightclub located in the warehouse disctrict of downtown Raleigh.</p>
	<p>We provide a fun, secure, space, for LGBTQAI individuals and their allies to enjoy music, drinks, and comminity in a club setting.</p>
	<p>Glitter offers three separate dance floors, two bars, and private rooms for parties and events.</p>
	<p>Come to Glitter to truly sparkle!</p>
	<p>Extra services we provide:</li>
		<ul>
			<li>Valet Parking</li>
			<li>Coat and purse check</li>
		</ul>