<h1>Glitter</h1>
	<h3>Truly Sparkle</h3>
		<p>An LGBTQAI nightclub located in the warehouse district of Raleigh.</p>
		<p>We promise to provide:</p>
		<ul>
			<li>A secure, safe space for LGBTQAI individuals</li>
			<li>A lively nightlife with all the latest music</li>
			<li>Good drinks, good friends, good times</li>
		</ul>
